<div class="quiz-answer">
  <div class="quiz-answer-title">
    <%= @drill.title %>に
    <span id="times">
      <% if @last_result %>
        <%= @last_result.times + 1 %>
      <% else %>
        1
      <% end %>
    </span>回目の挑戦！
  </div>

  <%= render 'shared/quiz' %>
  
  <div class="finish-btn-box">
    <%= form_with model: [@drill, @result], id: "answer-form", local: true do |f| %>
      <%= f.submit '回答終了', class: "finish-btn", id: "finish-btn" %>
    <% end %>
  </div>
</div>