<%= render 'shared/side-bar' %>

<div class="user-show main-box">
  <div class="user-show-record">
    <div class="user-show-nickname"><%= @user.nickname %><span class="honorific">さん</span></div>
    <div class="record-table-box">
      <div class="record-table-info">＜過去の成績＞</div>
      <table class="record-table">
        <tr>
          <th class="record-th"></th> <th class="record-th">初見の回答のみ</th> <th class="record-th">全ての回答の合計</th>
        </tr>
        <tr>
          <th class="record-th">回答数</th> <td class="record-td"><%= @user.record.first_number_of_questions %>問</td> <td class="record-td"><%= @user.record.all_number_of_questions %>問</td>
        </tr>
        <tr>
          <th class="record-th">正解数</th> <td class="record-td"><%= @user.record.first_number_of_correct_answers %>問</td> <td class="record-td"><%= @user.record.all_number_of_correct_answers %>問</td>
        </tr>
        <tr>
          <th class="record-th">正解率</th> <td class="record-td"><%= @user.record.first_correct_answer_rate.round(1) %>%</td> <td class="record-td"><%= @user.record.all_correct_answer_rate.round(1) %>%</td>
        </tr>
      </table>
    </div>
    <div class="user-show-favorites-num"><%= @user.nickname %>さんのクイズ集は、合計で<span class="favorites-num"><%= @favorites_num %>いいね</span>獲得しています</div>

    <div class="user-show-my-lists">
      <div class="my-lists-title">＜マイリスト＞</div>
      <div class="my-litsts">
        <%# マイリスト表示 %>
      </div>
    </div>

    <div class="latest-drills">
      <div class="latest-drills-info">＜<%= @user.nickname %>さんが最近挑戦したクイズ集＞</div>
      <% if @results.present? %>
        <% @results.each do |result| %>
          <div class="drill">
            <div class="drill-top">
              <div class="drill-left">
                <div class="drill-left_1"><%= link_to result.drill.title, drill_path(result.drill) %></div>
                <div class="drill-left_2">
                  <div>ジャンル：<%= link_to result.drill.genre.name, genre_drill_path(result.drill.genre), class: "mini-btn" %></div>
                  <% if user_signed_in? && @user.id == current_user.id %>
                    <div>あなたは<%= result.drill.results.where(user_id: current_user.id).count %>回挑戦しました</div>
                  <% else %>
                    <div><%= @user.nickname %>さんは<%= result.drill.results.where(user_id: @user.id).count %>回挑戦しました</div>
                  <% end %>
                </div>
              </div>
              
              <div class="drill-right">
                <div class="drill-right_1">
                  <div><%= link_to "#{result.drill.user.nickname}さん", user_path(result.drill.user), class: "drill-user" %>が投稿</div>
                </div>
                <div class="drill-right_2">
                  <div><%= "#{result.drill.quizzes.count}問のクイズ" %></div>
                  <div><%= result.drill.favorites.count %>いいね</div>
                  <div><%= link_to "ランキングへ", '#', class: "mini-btn" %></div>
                </div>
              </div>
            </div>

            <div class="drill-bottom">
              <%= result.number_of_questions %>問中<%= result.number_of_correct_answers %>問正解で、<%= result.correct_answer_rate.round(1) %>%の正解率でした。
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="no-results"><%= @user.nickname %>さんが挑戦したクイズはまだありません。</div>
      <% end %>
    </div>
  </div>

  <div class="user-show-drills">
    <% if user_signed_in? && @user.id == current_user.id %>
      <% if @all_drills.present? %>
        <div class="user-show-drills-num"><%= @user.nickname %>さんが作成したクイズ集は<%= @all_drills.count %>個あります。</div>
        <% @all_drills.each do |drill| %>
          <div class="drill">
            <div class="drill-top">
              <div class="drill-left">
                <div class="drill-left_1"><%= link_to drill.title, drill_path(drill) %></div>
                <div class="drill-left_2">
                  <div>ジャンル：<%= link_to drill.genre.name, genre_drill_path(drill.genre), class: "mini-btn" %></div>
                  <% if drill.status == 0 %>
                    <div class="show-user-drill-status">このクイズ集は非公開です</div>
                  <% else %>
                    <div>このクイズ集は公開中です</div>
                  <% end %>
                </div>
              </div>
              
              <div class="drill-right">
                <div class="drill-right_1">
                  <div><%= link_to "#{drill.user.nickname}さん", user_path(drill.user), class: "drill-user" %>が投稿</div>
                </div>
                <div class="drill-right_2">
                  <div><%= "#{drill.quizzes.count}問のクイズ" %></div>
                  <div><%= drill.favorites.count %>いいね</div>
                  <div><%= link_to "ランキングへ", '#', class: "mini-btn" %></div>
                </div>
              </div>
            </div>

            <div class="drill-bottom">
              <%= "詳細：#{drill.information}" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="user-show-drills-num"><%= @user.nickname %>さんが作成したクイズ集はまだありません。</div>
      <% end %>

    <% else %>
      <% if @public_drills.present? %>
        <div class="user-show-drills-num"><%= @user.nickname %>さんが公開しているクイズ集は<%= @public_drills.count %>個あります。</div>
        <%= render partial: 'drills/drill', collection: @public_drills %>

      <% else %>
        <div class="user-show-drills-num"><%= @user.nickname %>さんが公開しているクイズ集はまだありません。</div>
      <% end %>
    <% end %>
  </div>
</div>