<div class="footer">
  <div class="footer-logo">
    <%= link_to 'Now The Question', root_path, class: "logo", id: "logo" %> 
  </div>

  <div class="footer-lists-box">
    <ul class="footer-lists">
      <li><%= link_to 'TOPに戻る', root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'マイページ', user_path(current_user) %></li>
      <% else %>
        <li><%= link_to 'マイページ', new_user_session_path %></li>
      <% end %>
      <li><%= link_to 'プライバシーポリシー', '#' %></li>
      <li><%= link_to 'ご利用規約', '#' %></li>
      <li><%= link_to 'お問合せ', '#' %></li>
    </ul>
  </div>
</div>