<div class="result">
  <div class="result-user">
    <div class="result-title">〜結果発表〜</div>
    <div class="result-times">今回は<%= @result.times %>回目の挑戦でした！</div>
    <div class="result-numbers"><%= @result.number_of_questions %>問中<%= @result.number_of_correct_answers %>問正解でした！</div>
    <div class="result-rate">正解率：<%= @result.correct_answer_rate.round(1) %>%</div>
    <div class="root-btn-box"><%= link_to 'トップ画面へ戻る', root_path, class: "root-btn" %></div>
  </div>

  <div class="result-questions">
    <div class="result-title">〜クイズの正解〜</div>
    <% @quizzes.each_with_index do |quiz, i| %>
      <div class="quiz">
        <div class="quiz-num_box">
          <div class="quiz-num" id="quiz-num"><%= "第#{i + 1}問" %></div>
        </div>

        <div class="quiz-question"><%= quiz.question %></div>
        
        <div class="quiz-choices-boxes">
          <div class="quiz-choices"><%= "1. #{quiz.choices_1}" %></div>
          <div class="quiz-choices"><%= "2. #{quiz.choices_2}" %></div>
        </div>
        <div class="quiz-choices-boxes">
          <div class="quiz-choices"><%= "3. #{quiz.choices_3}" %></div>
          <div class="quiz-choices"><%= "4. #{quiz.choices_4}" %></div>
        </div>

        <div class="correct-answer" hidden><%= quiz.correct_answer %></div>

        <div class="quiz-editor">
          <div class="quiz-correct_ans"><%= "正解は#{quiz.correct_answer}番でした。" %></div>
        </div>
      </div>
    <% end %>
    <div class="root-btn-box"><%= link_to 'トップ画面へ戻る', root_path, class: "root-btn" %></div>
  </div>
</div>