<div class="result main-box">
  <div class="result-user">
    <div class="result-title">〜結果発表〜</div>
    <div class="result-times">今回は<%= @result.times %>回目の挑戦でした！</div>
    <div class="result-numbers"><%= @result.number_of_questions %>問中 <%= @result.number_of_correct_answers %>問正解でした！</div>
    <div class="result-rate">正解率：<%= @result.correct_answer_rate.round(1) %>%</div>
    <div>
      <div id="result-favorite-btn-box">
        <% if @favorite.present? %>
          <%= link_to "★ いいね! #{@drill.favorites.count}", drill_favorites_path(@drill), method: :delete, remote: true, class: "favorite-btn mini-btn favorite" %>
        <% else %>
          <%= link_to "☆ いいね! #{@drill.favorites.count}", drill_favorites_path(@drill), method: :post, remote: true, class: "favorite-btn mini-btn" %>
        <% end %>
      </div>
    </div>
    <div class="result-btns">
      <%= link_to '作成者ページへ', user_path(@drill.user), class: "result-btn btn" %>
      <%= link_to "#{@drill.genre.name}の他のクイズを解く", genre_drill_path(@drill.genre), class: "result-btn btn" %>
      <%= link_to 'トップ画面へ戻る', root_path, class: "result-btn btn" %>
    </div>
  </div>

  <div class="result-comments">
    <div class="comments-title">コメント</div>
    <%= render 'shared/comments' %>
  </div>

  <div class="result-questions">
    <div class="result-title" id="confirm-title">〜クイズの答え〜</div>
    <div class="confirm-btn" id="confirm-btn">正解を確認する</div>
    <% @quizzes.each do |quiz| %>
      <div class="quiz" hidden>
        <div class="quiz-num_box">
          <div class="quiz-num" id="quiz-num"><%= "第#{@drill.quizzes.index(quiz) + 1}問" %></div>
        </div>

        <div class="quiz-question"><%= quiz.question %></div>
        
        <div class="quiz-choices-boxes">
          <div class="quiz-choices"><%= "1. #{quiz.choices_1}" %></div>
          <div class="quiz-choices"><%= "2. #{quiz.choices_2}" %></div>
        </div>
        <div class="quiz-choices-boxes">
          <div class="quiz-choices"><%= "3. #{quiz.choices_3}" %></div>
          <div class="quiz-choices"><%= "4. #{quiz.choices_4}" %></div>
        </div>

        <div class="quiz-editor">
          <div class="quiz-correct_ans result-correct_ans"><%= "正解は#{quiz.correct_answer}番でした" %></div>
        </div>
      </div>
    <% end %>
    <div id="hidden-btn" hidden>
      <div class="hidden-btns-box">
        <%= link_to '作成者ページへ', user_path(@drill.user), class: "result-btn btn" %>
        <%= link_to "#{@drill.genre.name}の他のクイズを解く", genre_drill_path(@drill.genre), class: "result-btn btn" %>
        <%= link_to 'トップ画面へ戻る', root_path, class: "result-btn btn" %>
      </div>
    </div>
  </div>
</div>