<%= render 'shared/side-bar' %>

<div class="drill-main main-box">
  <% unless user_signed_in? %>
    <div class="first-visit">
      <span class="first-visit-logo">Now The Question</span>にようこそ！<br>
      このサイトは、クイズを作成して公開したり、<br>
      公開されているクイズを解いたりして<br>
      楽しむためのサイトです。<br>
      新規登録してみんなとクイズを出し合いましょう！
    </div>
  <% end %>
  <div class="drill-index-title">
    〜投稿されたクイズ集〜
  </div>
  <div class="search-box">
    <%= form_with url: search_drills_path, local: true, method: :get do |form| %>
      <div class="search-form">
        <%= form.text_field :keyword, placeholder: 'フリーワード検索', class: "search-keyword" %>
        <%= form.submit '検索', class: "search-btn btn" %>
      </div>
    <% end %>
  </div>
  <div class="drill-index-drills">
    <%= render partial: 'shared/drill', collection: @drills %>
  </div>
</div>