<%= render 'shared/side-bar' %>

<div class="drill-main main-box">
  <div class="drill-index-title">
    〜投稿されたクイズ集〜
  </div>
  <div class="search-box">
    <%= form_with url: search_drills_path, local: true, method: :get do |form| %>
      <div class="search-form">
        <%= form.text_field :keyword, placeholder: 'フリーワード検索', class: "search-keyword" %>
        <%= form.submit '検索', class: "search-btn btn" %>
      </div>
    <% end %>
  </div>
  <div class="drill-index-drills">
    <% if params[:keyword] != "" %>
      <div class="searched-box">
        <div class="search-title-box">
          <div class="search-title">タイトルに<%= params[:keyword] %>が含まれているクイズ集</div>
          <div class="display-btn">非表示</div>
        </div>
        <div class="search-num">検索結果は<%= @drills_searched_by_title.count %>件です。</div>

        <div class="search-result">
          <%= render partial: 'drill', collection: @drills_searched_by_title %>
        </div>
      </div>

      <div class="searched-box">
        <div class="search-title-box">
          <div class="search-title">詳細に<%= params[:keyword] %>が含まれているクイズ集</div>
          <div class="display-btn">非表示</div>
        </div>
        <div class="search-num">検索結果は<%= @drills_searched_by_info.count %>件です。</div>

        <div class="search-result">
          <%= render partial: 'drill', collection: @drills_searched_by_info %>
        </div>
      </div>

      <div class="searched-box">
        <div class="search-title-box">
          <div class="search-title">作成者名に<%= params[:keyword] %>が含まれているクイズ集</div>
          <div class="display-btn">非表示</div>
        </div>
        <div class="search-num">検索結果は<%= @drills_searched_by_user.count %>件です。</div>

        <div class="search-result">
          <%= render partial: 'drill', collection: @drills_searched_by_user %>
        </div>
      </div>
    <% else %>

      <div class="search-num">キーワードが空欄です</div>
      <%= render partial: 'drill', collection: @drills_searched_by_title %>
    <% end %>
  </div>
</div>