<%= render 'shared/side-bar' %>

<div class="drill-main main-box">
  <div class="drill-index-title">
    〜投稿されたクイズ集〜
  </div>
  <div class="search-box">
    <%= form_with url: search_drills_path, local: true, method: :get do |form| %>
      <div class="search-form">
        <%= form.text_field :keyword, placeholder: 'フリーワード検索', class: "search-keyword" %>
        <%= form.submit '検索', class: "search-btn btn" %>
      </div>
    <% end %>
  </div>
  <div class="drill-index-drills">
    <% if params[:keyword] != "" %>
      <div class="search-title-box">
        <div class="search-title">タイトルに<%= params[:keyword] %>が含まれているクイズ集</div>
        <div class="search-title-num">検索結果は<%= @drills.count %>件です。</div>
        <%= render partial: 'drill', collection: @drills %>
      </div>
    <% else %>
      <div class="search-title-num">キーワードが空欄です</div>
      <%= render partial: 'drill', collection: @drills %>
    <% end %>
  </div>
</div>