<%= render 'shared/side-bar' %>

<div class="drill-main main-box">
  <div class="show-drill">
    <div class="show-drill-title_box">
      <div class="show-drill-title"><%= @drill.title %></div>
    </div>

    <div class="show-drill-sub_1">
      <div class="show-drill-genre">ジャンル：<%= link_to @drill.genre.name, '#', class: "mini-btn" %></div>
      <div class="show-drill-user"><%= link_to "#{@drill.user.nickname}さん", user_path(@drill.user), class: "show-drill-user_name" %>が投稿</div>
    </div>

    <div class="show-drill-sub_2">
      <div><%= "#{@drill.quizzes.count}問のクイズ" %></div>
      <div>000いいね</div>
      <div><%= link_to "ランキングへ", '#', class: "mini-btn" %></div>
    </div>

    <div class="show-drill-ans_times">
      <% if user_signed_in? && @drill.user_id == current_user.id %>
        <% if @drill.status == 0 %>
          <span class="show-drill-status">このクイズ集は非公開です</span>
        <% else %>
          <span>このクイズ集は公開中です</span>
        <% end %>
      <% elsif user_signed_in? && @results.present? %>
        <%= "あなたは#{@results.count}回挑戦しました" %>
      <% elsif user_signed_in? %>
        あなたはまだ挑戦していません
      <% else %>
        ログインすると挑戦回数が表示されます
      <% end %>
    </div>

    <div class="show-drill-info_box">
      <div class="show-drill-info"><%= "詳細：#{@drill.information}" %></div>
    </div>
    <div class="show-drill-btn">
      <% if user_signed_in? && current_user.id == @drill.user_id %>
        <div class="drill-editor">
          <% if @drill.status == 0 %>
            <div><%= link_to "公開する", publish_drill_path(@drill), method: :post, data: {confirm: "クイズ集を公開しますか？\n※問題数が0問のクイズ集は一覧に表示されません。\n※クイズを追加・編集中は非公開にすることを推奨します。"}, class: "to_edit btn" %></div>
          <% else %>
            <div><%= link_to "公開しない", publish_drill_path(@drill), method: :post, data: {confirm: "クイズを非公開にしますか？\n※非公開にしたクイズ集は一覧に表示されません。\n※非公開のクイズ集を編集・公開するにはマイページからクイズ集のページにアクセスして下さい。"}, class: "to_edit btn" %></div>
          <% end %>
          <div><%= link_to "編集する", edit_drill_path(@drill), class: "to_edit btn" %></div>
          <div><%= link_to "削除する", drill_path(@drill), method: :delete, data: {confirm: "本当に削除しますか？\n※このクイズ集に関するクイズや回答した人の結果が全て削除されます。\n※回答した人の正解率は変化しません。"}, class: "to_destroy btn" %></div>
        </div>

      <% elsif user_signed_in? %>
        <div><%= link_to 'クイズに挑戦', drill_quizzes_path(@drill), class: "challenge-btn btn" %></div>

      <% else %>
        <div>※クイズに挑戦するにはログインする必要があります</div>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? && current_user.id == @drill.user_id %>
    <%= render 'shared/quiz' %>
    
    <div class="quiz-form" id="quiz-form">
      <div class="quiz-num_box">
        <div class="quiz-num">次のクイズを追加する</div>
      </div>

      <%= form_with model: [@drill, @quiz], local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>

        <div class="quiz-question"><%= f.text_area :question, placeholder: "問題文を入力\n例)「なぜ山に登るのか」と聞かれて「そこに山があるから」と答えたことで有名な、イギリスの登山家は誰でしょう？",size: "50x4", maxlength: "112", class: "form-question" %></div>

        <div class="quiz-choices-boxes">
          <%= f.text_field :choices_1, placeholder: "選択肢１を入力", maxlength: "10", class: "quiz-choices" %>
          <%= f.text_field :choices_2, placeholder: "選択肢２を入力", maxlength: "10", class: "quiz-choices" %>
        </div>
        <div class="quiz-choices-boxes">
          <%= f.text_field :choices_3, placeholder: "選択肢３を入力", maxlength: "10", class: "quiz-choices" %>
          <%= f.text_field :choices_4, placeholder: "選択肢４を入力", maxlength: "10", class: "quiz-choices" %>
        </div>

        <div class="quiz-editor">
          <div class="quiz-correct_ans">正解は
            <%= f.number_field :correct_answer, placeholder: "正解", in: 1..4, class: "form-correct_ans" %>
            番にの選択肢に設定します
          </div>
          <%= f.submit "クイズを追加", class: "quiz-post-btn btn" %>
        </div>
      <% end %>
    </div>
  
  <% elsif @results.present? %>
  <div class="show-drill-results-box">
    <div class="show-drill-results-title">〜過去の成績〜</div>
    <div class="show-drill-results">
      <% @results.each do |result| %>
        <div>
          <%= result.times %>回目は、<%= result.number_of_questions %>問中<%= result.number_of_correct_answers %>問正解で、<%= result.correct_answer_rate.round(1) %>%の正解率でした。
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>