<div class="user-main main-box">
  <div class="user-title">〜新規登録〜</div>

  <div class="user-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class:"user-btn btn" %>
      </div>
    <% end %>
  </div>
</div>