<!DOCTYPE html>
<html>
  <head>
    <title>NowTheQuestion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      <% if flash.present? && flash.to_hash.has_key?('alert') %>
        alert("<%= flash[:alert] %>");
      <% end %>
    </script>
  </head>


  <body>
    <%= render 'shared/header' %>

    <div class="main">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
